body {
    background-image: url("../images/background.png");
    }

.navbar-brand {font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #4aaaa5;
        margin: 0px;
        color: white;
        font-weight: bold;
        font-size: 24px;
    
    }


section {background-color: #ffffff;
    margin-top: 100px;
    max-width: 910px;
    margin-bottom: 100px;
    padding: 20px;
    align-content: center;
    border: solid 1px#dddddd
    

}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: solid 2px #dddddd;
    margin-bottom: 20px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: white;
    width: 275px;
    font-size: 21px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
        top: -65px
}

p {font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 1.5;
}

.input {font-size: 80%;
    border: solid 1px#dddddd;
    padding: 5px 8px;
    margin-top: -5px;
    margin-bottom: 10px;
}

.input2 {
    border: solid 1px#dddddd;
    margin-top: -5px;
    padding: 100px;
    margin-bottom: 20px;
    
}
        

button {background-color: #4aaaa5;
    width: 115px;
    color: white;
    font-size: 14px;
    border: none;
    padding: 8px;
}
.footer {
    position: fixed;
    bottom: 0;
    background-color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: solid 5px #4aaaa5;
}

.text-white {
    font-size: 60%;
}
